* {
margin: 0;
padding: 0;

}

.main{
    width: 100%;
    background-image:url(https://www.wearegecko.co.uk/media/50316/mountain-3.jpg) ;
background-size: cover;
height: 109vh;
/*align-items: center;
display: flex;
justify-content:flex-start;*/
}

.navbar{
width: 1200px;
height: 75px;
margin: auto;
}

.icon{
width: 200px;
float: left;
height: 70px;
}

.logo{
color: orange;
font-size:25px ;
font-family: Arial;
padding-left: 20px;
float: left;
padding-top: 10px;
}

.menu{
 float: left;   
 width: 400px;
 height: 70px;

}

ul{
float: left;
align-items: center;
display: flex;
justify-content: center;
}


ul li{
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size:14px ;
}


ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
color: orange;

}

.content{
max-width: 550px;
height: auto;
color: aliceblue;
position: relative;
padding-left: 20px;
text-align: left;
margin-left: 0px;
margin-right: auto;
}

.par{
font-family: Arial;
line-height: 30px;
padding-left: 20px;

}

.h1{
font-family: 'Times New Roman';
padding-left: 50px;


}

.btn{
background-color: orange;
width: 100px;
height: 30px;
border: none;
cursor: pointer;
text-decoration: none;
border-radius: 36px;
margin-left: 45px;
margin-top: 20px;
}

.btn a{
    color: black;
    text-decoration: none;
}

.btn a:hover{
 color: white;
}

.search{
float: left;
margin-left: 270px;
width: 330px;
}


.srch{
width: 200px;
height: 40px;
border: 1px solid orange;
margin-top: 13px;
font-size: 16px;
border-radius: 4px;
border-right: none;
}


.button{
height: 40px;
background:orange ;
color: aliceblue;
font-size: 15px;
border: 2px orange;
width: 100px;
border-bottom-right-radius: 5px;
margin-top: 13px;
border-radius: 4px;
cursor: pointer;
}

.form{
position: absolute;
top: 100px;
left: 870px;
padding: 25px;
border-radius: 10px;
background:white;
width: 250px;
height: 380px;
margin-bottom:50px;
}

.form h2{
font-family: sans-serif;
color: orange;
border-radius: 10px;
text-align: center;
border-radius: 10px;
margin: 2px;
}

.form input{
width: 240px;
height: 35px;
font-size: 15px;
letter-spacing: 1px;
margin-top: 30px;
border-top: none;
border-bottom: 1px solid orange;
border-right: none;
border-left: none;
}

.login{
background: orange;
border: none;
border-radius: 10px;
color: white;
font-size: 18px;
height: 40px;
width: 240px;
margin-top: 30px;
cursor: pointer;
transition: background 0.3 ease;
}

.login:hover{
background: rgb(254, 179, 151);


}

.login a{
text-decoration: none;
color: black;
font-weight: bold;
}

.form .link{
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
}

.form .link a{
    text-decoration: none;
    color: orange;
}

.liw{

    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
